NODE_ENV='dev'
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK=http://localhost:3001/api/auth/google/redirect
DATABASE_URL=postgresql://postgres:<password>@localhost:5432/mathmate?schema=public
TEST_DATABASE_URL=postgresql://postgres:<password>@localhost:5555/mathmate-test?schema=public
JWT_SECRET=
APP_CORS_ORIGIN=
POSTGRES_PASSWORD=